@charset "UTF-8";

table, th, td { border: 1px solid black; border-collapse: collapse; }
table { padding: 5px 10px; }

#container { position: relative; }

.popup { display: none; width: 300px; height: 230px; position: fixed; margin:0 auto; top: 80px; left: 0; right: 0; z-index: 10; border: 1px solid black; background: white; text-align: center; }

.popup textarea { width: 88%; height: 120px; resize: none; }

.xBtn { position: absolute; top: 10px; right: 13px; cursor: pointer; }